/* CustomHomePage.css */

/* Layout principale */
.layout {
	display: flex;
	flex-direction: row-reverse;
	

  }
  
  .main-content {
	flex: 1;
	width: 100%;
	background: #f5f7fb;
	overflow: hidden;
	
  }
  
  .sidebar {
	flex-shrink: 0;
	width: auto; 
  }
  
  body {
	background: #f6f5f7;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }

  .primary{
	color: #FF4B2B !important;
  }
/* Navbar orizzontale */
.navbar-horizontal {
	background: #f6f5f700 !important;

	position: sticky;
	top: 0;
	z-index: 2000;
	padding: 0px;
	height: auto;
  }
  
  .navbar-horizontal .navbar-brand {
	display: flex;
	justify-content: center;
  }
  
  .navbar-horizontal .navbar-collapse {
	display: flex;
	justify-content: flex-end;
  }
	
.custom-dropdown-menu {
	position: absolute !important;
	right: +200%!important;  
	left: -400% !important; 
	top: -210% !important; 
	background: #f6f5f7 !important;
	opacity: 1; 
	border: none!important;
  }
  .custom-dropdown-menu a {
	color: #FF4B2B !important;
	font-weight: 500;
	font-size: 1.1rem !important; 
  } 
  .custom-dropdown-menu a:hover {
	color: #f14020 !important;
	background: none!important;
  }
  

  