.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
  }
.news-section {
	margin: 20px;
	padding: 10px;
	background-color: #f8f9fa;
  }
  
  .news-list {
	list-style: none;
	padding: 0;
  }
  
  .news-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .news-card {
	display: flex;
	padding: 10px;
  }
  
  .news-image {
	width: 150px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
  }
  
  .news-content {
	margin-left: 10px;
  }
  
  .news-title {
	font-size: 1.2rem;
	font-weight: bold;
  }
  
  .news-description {
	font-size: 1rem;
	color: #555;
  }
  
  .news-link {
	color: #007bff;
	text-decoration: none;
  }
  
  .news-link:hover {
	text-decoration: underline;
  }

  .section-menu {
	margin-bottom: 20px;
  }
  
  .section-menu button {
	margin-right: 10px;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .section-menu button:hover {
	background-color: #555;
  }
  
  .news-list {
	list-style-type: none;
	padding: 0;
  }
  
  .news-item {
	margin-bottom: 20px;
  }
  
  .news-image {
	width: 100%;
	height: auto;
	max-width: 200px;
	margin-top: 10px;
  }
 
  .loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw; 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f9fa;
	z-index: 1000;
	
	
  } 
  .error-container {
	
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
  }
  
  .loading-logo {
	width: 100px; /* Dimensione del logo */
	height: 100px;
	animation: spin 2s linear infinite;
	
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  

  