/* UserPage.css */
.user-page {
	display: flex;
	flex-direction: column;
	
  }
  
  

  
  .create-post {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  
  .create-post textarea {
	padding: 10px;
	font-size: 14px;
	min-height: 100px;
	border: 1px solid #ccc;
  }
  
  .create-post button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
  }
  

 