.user-card {
	display: flex;
	
	
	padding: 60px;
	max-width: 100%;
	background-color: #f6f5f7;
	
	
  }
  
  .user-card-left {
	margin-right: 20px;
  }
  
  .profile-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ddd;
	margin-right: 50px;
	margin-left: 80px;
  }
  
  .user-card-right {
	flex: 1;
	
  }
  
  .user-header {
	display: flex;
	align-items: center;
	
	margin-bottom: 10px;
	margin-top: 20px;
  }
  
  .user-header h2 {
	font-size: 2.5rem;
	margin: 0;
  }
  
  .edit-button {
	cursor: pointer;
	margin-left: 20px;
	border-radius: 10px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 25px;
    letter-spacing: 1px;
  }
  
  .follow-button {
	cursor: pointer;
	margin-left: 20px;
	border-radius: 10px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 25px;
    letter-spacing: 1px;
  }
  
  
  
  .user-stats {
	margin-bottom: 30px;
	margin-top: 30px;
	color: #525252;
	font-size: 1.2rem;
  }
  
  
  .user-stats .stats{
	font-weight: 600;
	margin-right: 10px;
	
  }
  
  .user-username {
	color: #333;
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 15px;
  }
  
  .user-bio {
	color: #555;
	font-size: 1.1rem;
  }
  .linea{
	width: 90%;
	margin: 0% auto;
	border:1px solid #7a7a7a;
  }
  
  .toggle-buttons {
	display: flex;
	justify-content: center;
	background-color: transparent;
	margin-bottom: 20px ;
	
  }
  .toggle-buttons button {
	width: 150px;
	background-color: transparent;
	border: none;
	padding-top: 15px;
	margin-top: -1.5px;
	
  }

  .toggle-buttons button:active, .toggle-buttons button:focus, .toggle-buttons button:hover {
	
	border-top:2px solid #FF4B2B;
  }
  
  
  .modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }
 
  .modal-content {
	background: #fff;
	padding: 70px;
	
	border-radius: 5px;
	width: 90%;
	max-width: 800px;
  }
  